.Weather{
margin-top: 20px;
border: 1px solid grey;
border-radius:4px;
padding:16px;
font-family:arial, sans-serif;
}

.Weather form{
   margin-bottom:20px; 
}
.Weather h1{
    font-size:24px;
    font-weight:100px;
    margin:10px 0 0 0;
    
}
.Weather ul{
    list-style: none;
    padding: 0;

}

.btn{
  margin: 2px; 
  border-radius:10px;

}

.btn:hover{
    background-color:white;
    color:blue;
}
.searchbar{
    padding: 5px;
    border-radius:10px;
}
.Weather canvas{
    margin-right: 10px;
    margin-top:10px;
    display: inline-block;


}
.Weather .temperature{
   font-size:54px;
   font-weight:400px;
   size: px;

   
}

.Weather .unit{
position:relative;
top:-28px;
font-size:16px;
font-family: Arial, sans-serif;
margin-left: 2px;
}

