.Weather{
margin-top: 20px;
border: 1px solid grey;
border-radius:4px;
padding:16px;
color:black;
font-family:arial, sans-serif;
background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) ;
}

.Weather form{
   margin-bottom:20px; 
}
.Weather h1{
    font-size:24px;
    font-weight:100px;
    margin:10px 0 0 0;
    
}
.Weather ul{
    list-style: none;
    padding: 0;
    margin-top: 6px;

}

.btn{
  margin: 2px; 
  border-radius:10px;
  background-color: #F6EFEC;
  color: black;

}

.btn:hover{
    background-color:#BBE3F7;
    color:black;
}
.searchbar{
    padding: 5px;
    border-radius:10px;
    background-color: #F6EFEC;
    
}
.Weather canvas{
    margin-right: 10px;
    margin-top:10px;
    margin-bottom: 30px;
    display: inline-block;
    


}
.Weather .temperature{
   font-size:54px;
   font-weight:400px;
   color:rgb(52, 34, 34);
   

   
}

.Weather .unit{
position:relative;
top:-28px;
font-size:16px;
font-family: Arial, sans-serif;
margin-left: 2px;
}

